#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body{
  background: pink;
  background-image: url("/public/CM.png");
  background-size: 'cover';
  background-position: top;
  background-repeat: no-repeat;
  height: "100vh";
  width: 100%;
}

h1{
  color: orange;
  background-color: rgba(255, 255, 255, 0.754);
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}


@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


nav {
  display: flex;
  justify-content: space-between;
}